body,html{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #868e96;
}

.container{
    background-color: #868e96;
    height: 100%;
    width: 100vw;
}


.desktop{
    height: 100%;
    width: 100vw;
}
