body,html{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #868e96;
    overflow:hidden;
}

.container{
    background-color: #868e96;
    height: 100%;
    width: 100vw;
}

.desktop {
    display:grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(19, 100px);
    padding: 10px;
}

.rightClickMenu{
    user-select: none;
    position:absolute;
    display: none;
    width: 200px;
    height: 300px;
    background-color:#3b4045;
    border-radius: 10px;
    padding: 20px;
    justify-content: space-between;
    flex-direction: column;
}

.rightClickMenu > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    row-gap: 10px;
}

.rightClickMenu > div > div{
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
}

.rightClickMenu > div > div:hover{
    background-color: #868e96;
}

.rightClickMenu > p{
    color:antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 1.1em;
}

.firstTime{
    user-select: none;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 99999999999999;
    position: fixed;
    background-color: #868e96;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.firstTime > h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
}

.firstTime > p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2px;
    font-size: 1.3em;
}

.firstTime > div{
    margin-top: 20px;
    width: 200px;
    height: 60px;
    background-color: #3b4045;
    border-radius: 15px;
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: default;
    border: 2px solid #656c72;
}

.firstTime > div:hover{
    opacity: .8;
}


