.app{
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 120px;
    gap: 3px;
    border-radius: 5px;
}

.app:hover{
    background-color: hsl(210, 7%, 62%);
}

.app > p{
    font-size: 1.3em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.appWindow{
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    border-radius: 10px;
    width: 1000px;
    height: 600px;
    background-color:aliceblue;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.appWindow > .windowTopBar{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30px;
    width: 100%;
    background-color: #3b4045;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    user-select: none;
}

.appWindow > .windowTopBar > div{
    display: flex;
    column-gap: 10px;
}

.appWindow > .windowTopBar > div > .windowButton{
    width: 20px;
    height: 20px;
    background-color:#777c81 ;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.appWindow > .windowTopBar > div > .windowButton:hover{
    opacity: .8;
}

.appWindow > .windowTopBar > p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}

.appWindow > .windowTopBar > .Image{
    background-color: #777c81;
    border-radius: 5px;
    margin-right: 58px;
}

.appWindow > .content{
    height: 100%;
}
